<li>
  <div class="flexrow">
    <label class="flex1" for="enemy-name-{{@index}}">{{ localize "DUNE.Name" }}</label>
    <input class="flex2" name="system.enemies.[{{@index}}].name" type="text" value="{{enemy.name}}" id="enemy-name-{{@index}}"/>
    <label class="flex1 second" for="enemy-type-{{@index}}">{{ localize "DUNE.Type" }}</label>
    <input class="flex2" name="system.enemies.[{{@index}}].type" type="text" value="{{enemy.type}}" id="enemy-type-{{@index}}"/>
  </div>
  <div class="flexrow">
    <label class="flex1" for="enemy-hatred-{{@index}}">{{ localize "DUNE.Hatred" }}</label>
    <input class="flex2" name="system.enemies.[{{@index}}].hatred" type="number" value="{{enemy.hatred}}" id="enemy-hatred-{{@index}}" min="0" max="20"/>
    <label class="flex1 second" for="enemy-reason-{{@index}}">{{ localize "DUNE.Reason" }}</label>
    <input class="flex2" name="system.enemies.[{{@index}}].reason" type="text" value="{{enemy.reason}}" id="enemy-reason-{{@index}}"/>
  </div>
  {{#if owner}}
  <div class="flexrow">
    <label class="flex1" for="enemy-notes-{{@index}}">Notes</label>
    <textarea style="flex: 5" id="enemy-notes-{{@index}}" name="system.enemies.[{{@index}}].notes">{{enemy.notes}}</textarea>
  </div>
  {{/if}}
</li>
