<form id="dice-pool-form" class="dune-form">
  <div class="dice-pool flexcol">
    <div class="flexrow">
      <label class="label" style="flex: 80%;">{{localize 'DUNE.apps.target'}}</label>
      <input type="number" class="numeric-entry" style="text-align: center;" name="targetNumber"
	     value="{{target}}" id="targetNumber" required min="8" max="16">
    </div>
    <div class="flexrow">
      <label class="label" style="flex: 80%;">{{localize 'DUNE.apps.focus'}}</label>
      <input type="number" class="numeric-entry" style="text-align: center;" name="usingFocus" id="usingFocus" min="4" max="8">
    </div>
    <div class="flexrow">
      <label class="label">{{localize 'DUNE.apps.determination'}}</label>
      <input type="checkbox" name="usingDetermination" id="usingDetermination">
    </div>
    <div class="flexrow">
      <label class="label" style="flex: 80%;">{{localize 'DUNE.apps.complicationrange'}}</label>
      <input style="text-align: center;" class="numeric-entry" type="number" name="complicationRange" value="" id="complicationRange">
    </div>
    <div class="flexrow">
      <div style="flex: 1;"><label class="label">{{localize 'DUNE.apps.pool'}}</label></div>
      <div style="flex: 1;display: flex;flex-direction: column;">
        <div class="flexrow">
          <span class="label" style="flex: 1; text-align: left;">{{localize 'DUNE.counting.one'}}</span>
          <span style="flex: 1; text-align: center;"></span>
          <span class="label" style="flex: 1; text-align: center;">{{localize 'DUNE.counting.two'}}</span>
          <span style="flex: 1; text-align: center;"></span>
          <span class="label" style="flex: 1; text-align: center;">{{localize 'DUNE.counting.three'}}</span>
          <span style="flex: 1; text-align: center;"></span>
          <span class="label" style="flex: 1; text-align: center;">{{localize 'DUNE.counting.four'}}</span>
          <span style="flex: 1; text-align: center;"></span>
          <span class="label" style="flex: 1; text-align: center;">{{localize 'DUNE.counting.five'}}</span>
        </div>
        <input type="range" name="dicePoolSlider" min="1" max="5" value="{{dicePool}}" class="slider" id="dicePoolSlider">
      </div>
    </div>
  </div>    
</form>
