<form class="{{cssClass}} dune asset flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    <section class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DUNE.Name' }}"/>
      </h1>
    </section>
  </header>

  <section class="sheet-body flexcol">
    <div class="details flexcol asset">
      <div class="flexrow permanent">
        <label for="permanent" class="form-row">{{ localize 'DUNE.temporary' }}</label>
        <input type="checkbox" name="system.temporary" {{#if data.system.temporary}}checked{{/if}}
         title="{{#if data.system.temporary}}{{ localize 'DUNE.temporary' }}{{else}}{{ localize 'DUNE.permanent' }}{{/if}}">
      </div>
      <div class="flexrow quality">
        <label for="quality">{{ localize 'DUNE.items.quality' }}</label>
        <input name="system.quality" type="number" value="{{data.system.quality}}" id="quality"/>
      </div>
      <div class="description">
        <textarea rows="8" name="system.description">{{item.system.description}}</textarea>
      </div>
      <div class="flexrow usage">
        <label for="usage">{{ localize 'DUNE.items.usage' }}</label>
        <textarea rows="4" name="system.usage" id="usage" >{{data.system.usage}}</textarea>
      </div>
      <div class="flexrow keywords">
        <label for="keywords">{{ localize 'DUNE.items.keywords' }}</label>
        <input name="system.keywords" type="text" value="{{data.system.keywords}}" id="keywords"/>
      </div>
      <div class="flexrow note">
        <label for="player-note">{{ localize 'DUNE.items.note' }}</label>
        <textarea rows="4" name="system.note" id="player-note" >{{data.system.note}}</textarea>
      </div>
    </div>
  </section>
</form>
